body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f2f4 !important;
}

.css-1f2xuhi-MuiDrawer-docked .MuiDrawer-paper {
  background: "#dee5ee" !important;
}
